#root {
  /* max-width: 1280px; */
  /* width: 100vh; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* custom css */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-custom {
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5%;
  margin: auto 60px
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }
}

.grid-container-product {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  justify-content: space-evenly;
  gap: 5%;
}

.grid-category {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  gap: 5%;
}

.text-unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

img {
  object-fit: cover;
}

.slick-list {
  height: 85vh;
}

.carousel-1 {
  background-image: url('src/assets/pexels-neosiam-603022.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
}

.carousel-2 {
  background-image: url('src/assets/pexels-kai-pilger-996329.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
}

.carousel-3 {
  background-image: url('src/assets/pexels-terje-sollie-298863.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
}

.carousel-container {
  color: #fff;
  text-shadow: 2px 2px 3px rgb(33 33 33 / 50%);
  position: relative;
}

.p-navbar{
  margin:0;
  font-weight: 500;
}

