#root {
  /* max-width: 1280px; */
  /* width: 100vh; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* custom css */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.centered-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-custom {
  position: relative;
  text-align: center;
  color: white;

}

.image-darken {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.image-darken:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

  /* background-color: rgba(0, 0, 0, 0.4); */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }
}

.grid-container-product {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  justify-content: space-evenly;
  gap: 5%;
}

.text-unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

img {
  object-fit: cover;
}

/* .slick-slider {
  height: 40vh;
} */

.slick-list {
  height: 85vh;
}

.carousel-1 {
  background-image: url('src/assets/pexels-neosiam-603022.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
  /* text-shadow: 2px 2px 3px rgb(33 33 33 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.carousel-2 {
  background-image: url('src/assets/pexels-kai-pilger-996329.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
  /* text-shadow: 2px 2px 3px rgb(33 33 33 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.carousel-3 {
  background-image: url('src/assets/pexels-terje-sollie-298863.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
  /* text-shadow: 2px 2px 3px rgb(33 33 33 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.carousel-container {
  color: #fff;
  text-shadow: 2px 2px 3px rgb(33 33 33 / 50%);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  position: relative;
}