.infoBar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: .8rem;
  text-transform: uppercase;
  font-size: .625rem;
}

.info-element {
  display: flex;
  gap: .5rem;
}

.info-element p {
  margin: 0;
}