.hit-container img {
  transition: transform .4s ease-in-out;
}

.hit-container img:hover {
  transform: scale(1.2);
}

.hit-container {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}