.item {
    cursor: pointer;
    overflow: hidden;
}

.item-label {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
}

.item img {
    transition: transform .4s ease-in-out;
}

.item img:hover {
    transform: scale(1.2)
}